.starting-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control the opacity */
    /*pointer-events: ; !* Allows clicks to pass through to elements behind the overlay *!*/
}

.starting-countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vh;
    /*font-weight: bold;*/
    color: white;
}

.starting-countdown-starting {
    font-size: 5vh;
}
