.exercise-view {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.exercise {
    width: 100%;
    margin-top: clamp(4rem, calc(5% + 6rem), calc(5% + 6rem));
    margin-bottom: auto;
}

.exercise-name {
    padding-top: 1%;
    font-size: 1.5rem;
    font-weight: bolder;

    /* Order children */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.controls {
    width: 100%;
    margin-top: auto;
    margin-bottom: 2%;
    display: flex;
}

.control-panel {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.control-button {
    padding: 1rem;
    flex: 1;
}

