.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    height: 3rem;
}

.footer-buttons {
    background: none;
    border-style: none;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
}